aniso8601==6.0.0
asn1crypto==0.24.0
cffi==1.12.3
Click==7.0
cryptography==2.6.1
cryptorama==0.1.5
Encryption==0.0.1
Flask==1.0.3
Flask-RESTful==0.3.7
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
pycipher==0.5.2
pycparser==2.19
pycrypto==2.6.1
pytz==2019.1
six==1.12.0
Werkzeug==0.15.4
